@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
}

html {
 margin: 0px;
 padding: 0px;
}

h2 {
    text-align: center;
}

.primary1 {
    background-color: white;
}
.primary2 {
    background-color: #333;
}

body {
 overflow: auto;
 padding: 0px;
 margin: 0px;
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
}

#title-bar {
 -webkit-app-region: drag;
 height: 32px; 
 padding: 0px;
 margin: 0px;
 background-color: #333;
}

#title {
 top: 0px;
 left: 0px; 
 line-height: 32px;
 font-size: 16px;
 text-align: center;
}

#title-bar-btns-right {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 right: 0px;
}

#title-bar-btns-right button:focus {
    outline: none;
}

#title-bar-btns-right button {
 height: 32px;
 width: 32px;
 background-color: transparent;
 border: none;
 font-size: 16px;
 padding: 0px;
 margin: 0px;
 margin-left: -4px;
}

#title-bar-btns-right button:hover {
 background-color: #f30;
}

.icon-bar {
 -webkit-app-region: no-drag;
 position: fixed;
 border: none;
 top: 0px;
 left: 0px;
}

.icon-bar a {
 padding: 0px;
 display: block;
 transition: all 0.3s ease;
 color: #f30;
 height: 32px;
 width: 32px;
 font-size: 26px;
 margin: 0px;
 margin-left: -4px;
}

#content {
 padding: 12px; 
 color: #CCCCCC;
}

webview{
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
}