@import 'https://fonts.googleapis.com/css?family=Roboto';
* {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
}

html {
 margin: 0px;
 padding: 0px;
}

h2 {
    text-align: center;
}

.primary1 {
    background-color: white;
}
.primary2 {
    background-color: #333;
}

body {
 overflow: auto;
 padding: 0px;
 margin: 0px;
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
}

#title-bar {
 -webkit-app-region: drag;
 height: 32px; 
 padding: 0px;
 margin: 0px;
 background-color: #333;
}

#title {
 top: 0px;
 left: 0px; 
 line-height: 32px;
 font-size: 16px;
 text-align: center;
}

.title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
}

.btns-right {
 right: 0px;
}

.btns-left {
 left: 0px;
}

.title-bar-btns button:focus {
    outline: none;
}

.title-bar-btns button {
 height: 32px;
 width: 32px;
 background-color: transparent;
 border: none;
 font-size: 16px;
 padding: 0px;
 margin: 0px;
}

.btns-right button {
 margin-left: -4px;
}
/*
.btns-left button {
 margin-left: 4px;
}
*/
.title-bar-btns button:hover {
 background-color: #f30;
}

#content {
 padding: 12px; 
 color: #CCCCCC;
}

webview{
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
  z-index: -1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f30;
    color: #333;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f30 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}